@charset "UTF-8";


  #hedermenu #headermenuleft li:hover {
    color: #2010f8;
    font-weight: bold;
    cursor: pointer;
  }

  #maparea{
    width: 100%;
  }

#maparea #mapway{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
#mapway a {
  display: flex;
  height: 50px;
  margin: 10px 20px 10px 20px;
  padding: 1% 10%;
  font-weight: 600;
  align-items: center;
  text-align: center;
  color: #FFF;
  border-radius: 5px;
  font-size: 2rem;
  margin-bottom: 30px;
}
#daumway{
  background: #FFCD36;
}
#daumway:hover {
  background: #ffcd3686;
}
#naverway{
  background: #19CE60;
}
#naverway:hover {
  background: #19ce616c;
}

@media all and (min-width: 1280px) {
  /**************************************/

  /*상단메뉴*/
  #hedermenu {
    font-size: 1.5rem;
    color: #414040;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }


  /*왼쪽메뉴*/
  #hedermenu #headermenuleft {
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    cursor: pointer;
    position: fixed;
    background-color: white;
  }

  #hedermenu #headermenuleft li {
    padding-left: 10px;
    padding-right: 10px;
  }

  /*초대장 이미지*/
  #invitation2{
    margin-top: 100px;
    width: 100%;
  }

    #invitation2 img{
    width: 100%;
  }

    #invitation img{
    width: 100%;
  }

  /*메인페이지 내용*/
  #maincontent{
    margin-top: 25px;
    font-size: 1.15rem;

  }
  
  #maincontent #maincontentinfo{
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 20px;
  }  

  #maincontent #maincontentinfo div{
    margin-bottom: 10px;
  }

  #dresscode{
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 80px;

  }

  #buttonarea{
    font-size: 1.5rem;
  }

  #maincontent2 div{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 5px;

  }

  #dresscode img{
    width: 20%;
  }

  #maincontent3{
    margin-top: 150px;
  }

    #maincontent3 #nowyn{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 30px;

  }

  #maincontent3 div{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 5px;

  }

  /*이미지*/
  photoimg{
    width: 100%;
  }

  
/*사진*/
#photodiv{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photobox{
  width: 50%;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 40px;
}
.photohead{
  margin: 5px 0px;
 display: flex;
}

.photohead img{
  margin-left: 10px;
  height: 80px;
}
.profilename{
  margin-left: 10px;
  margin-top: 25px;
  font-size: 1.25rem;
}

  .photoimg img{
    width: 100%;
  }

  .hashtag{
    margin: 10px 10px;
    text-align: left;
  font-size: 1.25rem;

  }
}


@media (min-width: 1024px) and (max-width: 1279px) {


  /*상단메뉴*/
  #hedermenu {
    font-size: 1.5rem;
    color: #414040;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }


  /*왼쪽메뉴*/
  #hedermenu #headermenuleft {
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    cursor: pointer;
    position: fixed;
    background-color: white;
  }

  #hedermenu #headermenuleft li {
    padding-left: 10px;
    padding-right: 10px;
  }

  /*초대장 이미지*/
  #invitation2{
    margin-top: 90px;
    width: 100%;
  }

    #invitation2 img{
    width: 100%;
  }

    #invitation img{
    width: 100%;
  }

  /*메인페이지 내용*/
  #maincontent{
    margin-top: 25px;
    font-size: 1.15rem;

  }

  #maincontent #maincontentinfo{
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 50px;
  }  

  #maincontent #maincontentinfo div{
    margin-bottom: 10px;
  }
  #maincontent3{
    margin-top: 150px;
  }
  
    #maincontent3 #nowyn{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 30px;

  }

  #maincontent3 div{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 5px;

  }

  #maincontent2 div{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 5px;

  }
    #buttonarea{
    font-size: 1.7rem;
  }

    #dresscode{
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 80px;

  }
  #dresscode img{
    width: 30%;
  }

  
/*사진*/
#photodiv{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photobox{
  width: 50%;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 40px;
}
.photohead{
  margin: 5px 0px;
 display: flex;
}

.photohead img{
  margin-left: 10px;
  height: 80px;
}
.profilename{
  margin-left: 10px;
  margin-top: 25px;
  font-size: 1.25rem;
}

  .photoimg img{
    width: 100%;
  }

  .hashtag{
    margin: 10px 10px;
    text-align: left;
  font-size: 1.25rem;

  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /*상단메뉴*/
  #hedermenu {
    font-size: 1.7rem;
    color: #414040;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }

  #hedermenu #headermenuleft li {
    padding-left: 10px;
    padding-right: 10px;
  }

  /*왼쪽메뉴*/
  #hedermenu #headermenuleft {
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    position: fixed;
    background-color: white;
  }

  /*초대장 이미지*/
  #invitation2{
    margin-top: 80px;
    width: 100%;
  }

    #invitation2 img{
    width: 100%;
  }

    #invitation img{
    width: 100%;
  }

  /*메인페이지 내용*/
  #maincontent{
    margin-top: 25px;
    font-size: 1.15rem;

  }
  #maincontent #maincontentinfo{
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 50px;
  }  

  #maincontent #maincontentinfo div{
    margin-bottom: 10px;
  }

  #maincontent2 div{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 5px;

  }
    #maincontent3{
    margin-top: 150px;
  }
  
    #maincontent3 #nowyn{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 30px;

  }

  #maincontent3 div{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 5px;

  }

    #dresscode{
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 80px;

  }
  #dresscode img{
    width: 40%;
  }

  
    #buttonarea{
    font-size: 2rem;
  }

/*사진*/
#photodiv{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photobox{
  width: 80%;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 40px;
}
.photohead{
  margin: 5px 0px;
 display: flex;
}

.photohead img{
  margin-left: 10px;
  height: 80px;
}
.profilename{
  margin-left: 10px;
  margin-top: 25px;
  font-size: 2rem;
}

  .photoimg img{
    width: 100%;
  }

  .hashtag{
    margin: 10px 10px;
    text-align: left;
  font-size: 1.5rem;

  }
}

@media (max-width: 767px) {
  
  /*상단메뉴*/
  #hedermenu {
    font-size: 2rem;
    color: #414040;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }


  #hedermenu #headermenuleft li {
    padding-left: 5px;
    padding-right: 5px;
  }

  /*왼쪽메뉴*/
  #hedermenu #headermenuleft {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    position: fixed;
    background-color: white;
  }

  /*초대장 이미지*/
  #invitation2{
    margin-top: 70px;
    width: 100%;
  }

    #invitation2 img{
    width: 100%;
  }

    #invitation img{
    width: 100%;
  }

  /*메인페이지 내용*/
  #maincontent{
    margin-top: 25px;
    font-size: 1.15rem;

  }
  #maincontent #maincontentinfo{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }  

  #maincontent #maincontentinfo div{
    margin-bottom: 10px;
  }

  #maincontent2 div{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 5px;

  }
    #maincontent3{
    margin-top: 100px;
  }
  
    #maincontent3 #nowyn{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 30px;

  }

  #maincontent3 div{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 5px;

  }

    #buttonarea{
    font-size: 3rem;
  }
    #dresscode{
    font-weight: 600;
    font-size: 2.3rem;
    margin-bottom: 40px;

  }
  #dresscode img{
    width: 50%;
  }

  
/*사진*/
#photodiv{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photobox{
  width: 90%;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 40px;
}
.photohead{
  margin: 5px 0px;
 display: flex;
}

.photohead img{
  margin-left: 5px;
  height: 60px;
}
.profilename{
  margin-left: 5px;
  margin-top: 12px;
  font-size: 3rem;
}

  .photoimg img{
    width: 100%;
  }

  .hashtag{
    margin: 10px 10px;
    text-align: left;
  font-size: 2rem;

  }
}
