#tablesetdiv{
    margin-top: 150px;
    font-size: 2rem;
}
#tmi{
    margin-top: 150px;
    font-size: 2rem;
    display: flex;
    width: 100%;
    vertical-align: middle;
    justify-content: center;
}
#tmi img{
    width: 30%;
}
#tmi div{
    display: flex;
    align-items: center;
    margin-left: 15px;
}